@page
@model TowerDefense.ViewModels.Maps.MapViewModel
@{
    Layout = "~/Views/Shared/_GameLayout.cshtml";
}
<div class="game-wrapper">
    <div id="controls">
        <h2>Score</h2>
        <div id="score-tracker">
            <div class="tracker"><img alt="health" src="~/images/healthIcon.png" />100</div>
            <div class="tracker"><img alt="gold" src="~/images/goldIcon.png" />2500</div>
        </div>
        <h2>Actions</h2>
        <button id="start-game-button">Start game</button>
        <h2>Towers</h2>
        <div id="unit-selector">
            <button class="selector active" id="archer-tower"></button>
            <button class="selector" id="mage-tower"></button>
            <button class="selector" id="bomb-tower"></button>
        </div>
        <h2>Upgrades</h2>
    </div>
    <div id="game-grid">
    </div>
</div>

<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/game.js"></script>