@page
@model TowerDefense.ViewModels.Maps.MapViewModel
@{
    Layout = "~/Views/Shared/_GameLayout.cshtml";
}

<button id="start-game-button" class="button secondary">Start game</button>
<div id="resource-panel">
    <div class="resource"><img src="~/images/scoreIcon.png" /><span>50</span></div>
    <div class="resource"><img src="~/images/goldIcon.png" /><span>100</span></div>
    <div class="resource"><img src="~/images/healthIcon.png" /><span>10000</span></div>
</div>

<div id="ui-container">
    <div class="tower-building-menu menu">
        <button class="close-button" onclick="this.parentNode.classList.remove('show')">X</button>
        <h2>Build tower</h2>
        <div class="stat">
            <span>X: </span> <span class="tower-building-menu-x"></span>
        </div>
        <div class="stat">
            <span>Y: </span> <span class="tower-building-menu-y"></span>
        </div>
        <button type="button" onclick="requestTowerBuild(+this.parentNode.getAttribute('data-x'),+this.parentNode.getAttribute('data-y'),'Archer')">Archer tower</button>
        <button type="button" onclick="requestTowerBuild(+this.parentNode.getAttribute('data-x'),+this.parentNode.getAttribute('data-y'),'Bomber')">Bomber tower</button>
        <button type="button" onclick="requestTowerBuild(+this.parentNode.getAttribute('data-x'),+this.parentNode.getAttribute('data-y'),'Mage')">Mage tower</button>
        <button type="button" onclick="requestTowerBuild(+this.parentNode.getAttribute('data-x'),+this.parentNode.getAttribute('data-y'),'Bank')">Bank tower</button>
        <button type="button" onclick="requestTowerBuild(+this.parentNode.getAttribute('data-x'),+this.parentNode.getAttribute('data-y'),'Freeze')">Freeze tower</button>
    </div>

    <div class="monster-info menu">
        <button class="close-button" onclick="this.parentNode.classList.remove('show')">X</button>
        <h2>Monster info</h2>
        <div class="stat">
            <span>X: </span> <span class="tower-building-menu-x"></span>
        </div>
        <div class="stat">
            <span>Y: </span> <span class="tower-building-menu-y"></span>
        </div>
    </div>

    <div class="tower-info-menu menu">
        <button class="close-button" onclick="this.parentNode.classList.remove('show')">X</button>
        <h2>Tower info</h2>
        <div class="stat">
            <span>X: </span> <span class="tower-info-menu-x"></span>
        </div>
        <div class="stat">
            <span>Y: </span> <span class="tower-info-menu-y"></span>
        </div>
        <div class="stat">
            <span>Damage: </span> <span class="tower-info-menu-damage"></span>
        </div>
        <div class="stat">
            <span>Range: </span> <span class="tower-info-menu-range"></span>
        </div>
        <button type="button" onclick="requestTowerUpgrade(+this.parentNode.getAttribute('data-id'),'Damage')">Upgrade damage</button>
        <button type="button" onclick="requestTowerUpgrade(+this.parentNode.getAttribute('data-id'),'Range')">Upgrade range</button>
        <hr />
        <button type="button" onclick="requestTowerBackup(+this.parentNode.getAttribute('data-id'))">Backup tower</button>
        <button type="button" onclick="requestTowerRestore(+this.parentNode.getAttribute('data-id'))">Restore tower</button>
    </div>
</div>

